@font-face {
    font-family: ". SF Compact Text";
    src: url('../font/SFCompactText.otf');
}
@font-face {
    font-family: ".. SF Compact Rounded - Regular";
    src: url('../font/SFCompactRoundedRegular.ttf');
}
@font-face {
    font-family: ". SF Compact Rounded - Regular";
    src: url('../font/SFCompactRoundedRegular.ttf');
}

@font-face {
    font-family: ". SF Compact Rounded";
    src: url('../font/SFCompactRoundedLight.ttf');
}
@font-face {
    font-family: ".. SF Compact Rounded";
    src: url('../font/SFCompactRoundedLight.ttf');
}